:host {
  display: flex;
  flex-direction: row;

  .no-contributors {
    flex: 1;
    color: white;
    text-align: center;
    display: block;

    .title {
      margin-bottom: 0;
    }

    .url {
      margin-top: 5px;
    }
  }
}
