@import "./../contributor/contributor.dimen";

:host {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 600px) {
    --contributor-qty: 1;
  }

  @media screen and (min-width: 600px) and (max-width: 900px) {
    --contributor-qty: 2;
  }

  @media screen and (min-width: 900px) and (max-width: 1200px) {
    --contributor-qty: 3;
  }

  @media screen and (min-width: 1200px) and (max-width: 1500px) {
    --contributor-qty: 4;
  }

  @media screen and (min-width: 1500px) {
    --contributor-qty: 5;
  }

  // the 4 margins are: peeks for previous and next boxes, margins between previous and next boxes
  --contributor-size: calc((100% / var(--contributor-qty)) - 15px - (45px / var(--contributor-qty)));
  --contributor-position: 1;

  position: relative;
  left: calc(#{$contributor-margin} - (var(--contributor-position) - 1) * (#{$contributor-margin} + var(--contributor-size)));
  transition-property: left;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;

  .no-contributors {
    flex: 1;
    color: white;
    text-align: center;
    display: block;

    .title {
      margin-bottom: 0;
    }

    .url {
      margin-top: 5px;
    }
  }
}
