$margin: 15px;
$doubleMargin: $margin * 2;
$contributor-padding: 15px;
$contributor-height: 130px;

@mixin ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

:host {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: $contributor-height;

  justify-content: flex-start;
  align-items: center;

  border-radius: 11px;
  background-color: white;
  box-shadow: 0 40px 40px -30px rgba(0, 0, 0, 0.6);

  padding: 15px;
  margin: $margin;
  box-sizing: border-box;

  overflow-x: auto;
  overflow-y: hidden;

  // min width

  @media screen and (max-width: 600px) {
    flex-basis: calc(100% - #{$doubleMargin});
  }

  @media screen and (min-width: 600px) and (max-width: 900px) {
    flex-basis: calc(50% - #{$doubleMargin});
  }

  @media screen and (min-width: 900px) and (max-width: 1200px) {
    flex-basis: calc(33% - #{$doubleMargin});
  }

  @media screen and (min-width: 1200px) and (max-width: 1500px) {
    flex-basis: calc(25% - #{$doubleMargin});
  }

  @media screen and (min-width: 1500px) {
    flex-basis: calc(20% - #{$doubleMargin});
  }

}

img {
  border-radius: 25%;
  max-height: $contributor-height - $contributor-padding*2;
}

.contributor-info {
  padding: $contributor-padding;
  @include ellipsis();

  h3 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    @include ellipsis();

    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
  }

  p {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.6;

    @include ellipsis();

    margin: 0;
  }
}
