form {
    padding: 10px;
}

div.control-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

div.control-group.row {
    flex-direction: row;
}

div.control-group > label {
    font-weight: bold;
}

.small {
    flex: 1;
}

.large {
    flex: 15;
}
