<img [src]="'https://github.com/' + user.username + '.png?size=200px'" [alt]="'Github avatar for ' + user.username"/>
<div class="work-user-info">
  <h3>{{user.username}} <span>({{ (user.assignedCount + user.externalCount) | number:'1.0-0' }})</span></h3>
  <p>{{ user.assignedProjects }} ({{user.assignedCount}})</p>
  <p>External ({{user.externalCount}})</p>
</div>
<div class="work-user-level level-2">
  <div class="level-3"></div>
  <div class="level-2"></div>
  <div class="level-1"></div>
</div>

