{
  "globals": {
    "AppsHttp": true,
    "Reports": true,
    "Sheet": true,
    "Geometry": true,
    "Main": true,
    "UrlFetchApp": true,
    "SpreadsheetApp": true,
    "Logger": true,
    "HtmlService": true,
    "DocumentApp": true,
    "Promise": true,
    "Utilities": true
  }
}
