{
  "env": {
    "jasmine": true
  },
  "globals": {
    "QueryStringifier": true,
    "AppsHttp": true,
    "Reports": true,
    "Spreadsheet": true,
    "Sheet": true,
    "Geometry": true,
    "Main": true,
    "UrlFetchApp": true,
    "SpreadsheetApp": true,
    "Logger": true,
    "HtmlService": true,
    "DocumentApp": true,
    "Promise": true,
    "Utilities": true,
    "Range": true,
    "AppsMockHttp": true,
    "MockHttp": true,
    "MockSheet": true,
    "MockSpreadsheet": true,
    "_": true
  }
}
